<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Add Housing</title>
</head>
<body>
<div class="content" layout:fragment="custom-content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Housing</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Housing</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Add</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Add Housing</div>
                    </div>
                    <span th:class="succes" th:text="${successMsg}"></span>
                    <span th:class="err" th:text="${rejectMsg}"></span>
                    <form th:object="${housing}" th:action="@{/housing/add-housing}" th:method="POST">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label for="housingname">HousingName</label>
                                        <input type="text" class="form-control" id="housingname"
                                               th:field="*{housingName}" placeholder="Enter Housing Name">
                                        <small id="housingnameHelp" class="form-text text-muted">Enter Area At least 4
                                            Characters.
                                        </small>
                                        <span th:class="error" th:if="${#fields.hasErrors('housingName')}"
                                              th:errors="*{housingName}">HousingName Error</span>

                                        <label for="area">Area</label>
                                        <select th:field="*{areas}" id="area" class="form-control">
                                            <option th:each="a : ${areas}" th:value="${a.id}">
                                                <span th:text="${a.areaName}"></span>
                                            </option>
                                        </select>
                                        <small id="housingareaHelp" class="form-text text-muted">Please select an area.
                                        </small>
                                        <span th:class="error" th:if="${#fields.hasErrors('areas')}"
                                              th:errors="*{areas}">AreaName Error</span>

                                        <label for="city">City</label>
                                        <select th:field="*{cities}" id="city" class="form-control">
                                            <option th:each="c : ${cities}" th:value="${c.id}">
                                                <span th:text="${c.cityName}"></span>
                                            </option>
                                        </select>
                                        <small id="areacityHelp" class="form-text text-muted">Please select an city.
                                        </small>
                                        <span th:class="error" th:if="${#fields.hasErrors('cities')}"
                                              th:errors="*{cities}">CityName Error</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-danger">Cancel</button>
                            <button class="btn btn-success" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--inner block end here-->
</body>
</html>